@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700,800&display=swap");

header {
  margin: 0;
}

/* Colours */

.bg-color-name-title {
  background-color: #676767;
}

.bg-color-three-reasons {
  background-color: #fff;
  margin-bottom: 3em;
}

.bg-color-personal-info {
  background-color: #f4f4f4;
}

.ui-menu-color-home {
  background-color: #e67e32;
}
.ui-menu-color-cv {
  background-color: #9b59b6;
}
.ui-menu-color-contact {
  background-color: #3498db;
}
.ui-menu-color-download {
  background-color: #525252;
}

.bg-color-work-history {
  background-color: #9b59b6;
}

.bg-color-contact {
  background-color: #fff;
}

/* Special paddings, margins and text */
.general-sub {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: #fafafa;
}

.section-heading,
.history-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 1.25em;
}

/* Heading */

.heading {
  margin-left: 50px;
}

.logo {
  background-image: url("../images/rosie.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.name {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 3.25rem;
  margin-top: 2.75em;
  color: #fff;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 1.15em;
  color: #fff;
  margin-bottom: 5em;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
  padding-left: 0;
}

#nav li {
  font-size: 1rem;
  padding: 0;
}

#nav {
  margin: 0;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 120px;
}

.menuitem svg {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 1.5em;
  fill: #fafafa;
  height: 2rem;
}

.menuitem span {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* hover.css */
.hvr-sweep-to-bottom:before {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  background-color: #626262;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
}

footer > :first-child {
  padding: 1.5em;
}

.cv-pdf {
  margin-left: 0.5em;
}

.cv-pdf svg {
  fill: #fafafa;
  transition: fill 0.35s ease-in-out;
  -moz-transition: fill 0.35s ease-in-out;
  -webkit-transition: fill 0.35s ease-in-out;
}

.cv-pdf:hover svg {
  fill: #de8460;
}

footer .social-links a {
  display: inline-block;
  width: 32px;
  padding: 0.25em;
}

footer .social-links a svg {
  max-width: 100%;
}

footer .social-links a:hover svg {
  scale: 1.2;
}

.social-links .list-inline-item + .list-inline-item {
  margin-left: 0.5em;
}

/* Three reasons */
.three-reasons-icon {
  display: block;
  width: 2.75rem;
  height: auto;
  margin: 0 auto;
  fill: #e67e22;
}

/* Personal info */
.personal-info-item {
  margin-bottom: 1.5em;
  display: block;
}

.personal-info-item .value p {
  display: inline;
  margin: 0;
}

.personal-info-item .key {
  width: 30%;
  margin-right: 1.25em;
  display: inline-block;
  vertical-align: top;
}

.personal-info-item .key p {
  font-weight: 700;
}

.personal-info-item .value {
  position: relative;
  display: inline;
  width: 60%;
}

/* Skills */
.progress {
  position: relative;
  height: 1.75rem;
  margin-bottom: 0.15em;
}

.progress-type {
  position: absolute;
  left: 0;
  font-weight: 400;
  padding: 3px 30px 2px 10px;
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.progress-section {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

/* Work History */
.history-heading {
  color: #fafafa;
  margin-bottom: 2.5em;
}

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  color: #fafafa;
  border-left: 1px solid currentColor;
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item::before {
  content: attr(data-dates);
  font-family: "Exo", sans-serif;
  position: absolute;
  left: 2.5em;
  top: 3em;
  display: block;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 12px;
  display: block;
  top: 2.4em;
  left: -8px;
  background-color: #fafafa;
}

.history-items {
  margin-bottom: 2.75em;
}

/* Contact */
.contact-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 1.25em;
  margin-bottom: 1.45em;
}

.center-form {
  margin: 0 auto;
  max-width: 70%;
}

button[type="submit"] {
  margin-top: 1em;
  margin-bottom: 1.25em;
  color: #fafafa;
  background-color: #e67e22;
}

@media screen and (min-width: 992px) {
  .center-form {
    max-width: 50%;
  }
}
